DEBUG=True
SECRET_KEY=django-insecure-erp-mini-secret-key-change-in-production
ALLOWED_HOSTS=localhost,127.0.0.1,backend
DATABASE_URL=postgres://erp_user:erp_password@db:5432/erp_db
REDIS_URL=redis://redis:6379/0
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000
